# Virtual Environment
venv/

# Environment variables
# Contains sensitive data like database credentials and secret keys
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask instance folder
# Can contain sensitive configuration or a temporary database
instance/

# Database files
*.sqlite3

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# IDE / Editor specific
.vscode/
.idea/

# macOS specific
.DS_Store
